// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require_tree .

var roundOne =
  [{"question": "以下哪个不是圣诞老人的昵称 ?", "options": "Noel,Santa,Snow White", "answer":"C"},
    {"question": "哪几个国家可以不用冬衣过圣诞 ?", "options": "丹麦,澳洲,南非,希腊,马尔代夫", "answer": "BCE"},
    {"question": "路德教为了纪念耶稣降临而发明了一种记录生日前24天的形式，如今变成了让小盆友每天寻找一件当天的礼物，以更期待圣诞的降临，这就是圣诞日历的由来，它的英文被称为?", "answer": "Advent Calendar"},
    {"question": "以下哪种不是圣诞日历？", "answer": "D", "options": "<%= asset_path('4a.jpg') %>,<%= asset_path('4b.jpg') %>,<%= asset_path('4c.jpg') %>,<%= asset_path('4d.jpg') %>"},
    {"question": "圣诞节的传统颜色是以下哪几种？", "options": "红,橙,绿,金,白,蓝", "answer": "ACDEF"},
    {"question": "红色是所有传统颜色中最经典的一种，你知道它来自于哪个传说？", "options": "伊甸园中的红苹果,圣果的颜色,圣袍的颜色", "answer": "A"},
    {"question": "每年的圣诞节都是12月25日，可是有个国家的圣诞节却一反常态不是12月二十五日而是12月27日，你知道是哪个国家吗？", "answer": "埃及"},
    {"question": "圣诞老人出门的行头非常多，最为引人注目的是帮他拉雪橇的动物，它是？","options": "梅花鹿,驯鹿,长颈鹿,麋鹿", "answer": "B"},
    {"question": "装饰圣诞树时，最常在圣诞树的最顶端放 ","options": "一个玩偶或一颗星星,一份礼物,一个圣诞老人<br />,一粒松果",  "answer": "A"},
    {"question": "在传统的圣诞餐桌上，__是不可缺少的菜式", "answer": "A", "options": "烤火鸡,烤羊腿,烤乳猪,烤全羊"},
    {"question": "在好侍12月圣诞专辑的宣传画面有出现圣诞老人吗？", "answer": "A", "options": "没有,有"},
    {"question": "看来你对圣诞节相关的知识很是了解，这么多题都难不倒你，已经接近成功，最后一题，圣诞老人我们一直叫他圣诞老人，那他原来的名字是什么？", "answer": "尼古拉"}
];

var roundTwo =
    [
{"question": "红色的石榴也是圣诞节的传统元素，用来调鸡尾酒、制作营养果昔，还能放进沙拉里。如果要榨一杯250ml的石榴汁，至少需要多少个石榴？", 
"options": "1个,2个,3个,4个","answer": "B"},

{"question": "对于圣诞节来说，最传统的蛋奶饮料可能就是eggnog蛋酒了，它是用生鸡蛋、牛奶或者鲜奶油、糖和香料制成的，以下哪些香料可以用来做传统的蛋酒？",
  "options": "肉桂棒,香草荚,茴香,肉豆蔻,小豆蔻", "answer": "ABE"},

 {"question": " 肉桂棒可以算是最有圣诞气氛的香料，它是用肉桂树的哪部分制成?",
 "options": "树根,树叶, 树皮,果实", "answer": "C"},

 {"question": "肉桂的香气非常甜蜜，常用来制作热饮和甜点。以下哪种食材和它最为搭配？",
 "options": "草莓,香蕉,粗粮面包,苹果", "answer": "D"},

 {"question": " 若是你想要喝热的饮料，还有一种在加热红酒中放入橙皮、柠檬皮和肉桂棒、丁香等香料制成的圣诞特饮，它的英文名字叫做?",
  "answer": "Mulled Wine"},

 {"question": "虽然热红酒微甜，但它的口感与圣诞甜点非常搭配，红丝绒蛋糕有着诱人的绛红色蛋糕内层，天然的制作做法中并不放食用色素来调配红色，而是选择了如下一种食材",
"options": "红糖,甜菜根,红树莓,车厘子", "answer": "B"},

{"question": "另一种圣诞节极其著名的甜点是mince pie，它的中文译名繁多，以下哪种更正确？",
"options": "肉馅饼,卤肉饼,百果馅小馅饼,月饼", "answer": "C"},

{"question": "mince pie的内馅由很多干果和白兰地制成，以下哪种红色食材是品种之一：",
"options": "山楂,蔓越莓,番茄,甜菜根", "answer": "B"},
{"question": " 红烩更接近于以下哪几种西方烹饪方式：",
"options": "Stew,Fry,Roast,Braise", "answer": "AD"},
{"question": "传统红烩的红色来自于以下哪些食材？",
"options": "番茄,红葡萄酒,甜菜根,红高粱", "answer": "ABC"},
{"question": "现代红烩更多使用番茄来制作，它不但可以带来酸甜的口感，其中还含有如下哪些对身体有益的成分？",
"options": "维生素C,维生素E,番茄红素,抗氧化剂", "answer": "ACD"},
{"question": "又到最后一题，我总是很想给你出很难题，但是你的知识面实在广，那好吧，请回答以下哪些可以用番茄红烩调料来制作",
"options": "红酱意大利面,烘焙美食,鸡尾酒,波尔多红烩牛肉,乌克兰红菜汤", "answer": "ABDE"}
];


var QAs = function (round) {
  this.qas = [];
  this.current_index = 0;
  this.correct_num = 0;

  for (var i = 0, l = round.length; i < l; i ++) {
    qa = new QA(round[i]);
    qa.qas = this;
    this.qas.push(qa);
  };
};

QAs.prototype.next = function(){
  this.current_index += 1;
  return this.qas[this.current_index];
};


QAs.prototype.has_next = function(){
  return !(this.qas[this.current_index + 1] == undefined);
};

QAs.prototype.first = function(){
  return this.qas[0];
};

QAs.prototype.current = function(){
  return this.qas[this.current_index];
};

var QA = function (options) {
  this.question = options.question;
  this.answer   = options.answer;
  this.qas      = null;

  if(undefined == options.options){
    this.type = "text";
    this.type_in_chinese = "填空";
  }else{
    if(options.answer.length == 1){
      this.type = "radio";
      this.type_in_chinese = "单选";
    }
    else{
      this.type = "choice";
      this.type_in_chinese = "多选";
    }

    this.options  = options.options.split(",");
    console.log(this.options[0]);
    console.log(this.options[0] && this.options[0].match(/http|png|jpg/));
    if(this.options[0] && this.options[0].match(/http|png|jpg/)){
      this.type = "images";
    }
  }
};

QA.prototype.answer_match = function (answer) {
  switch (this.type) {
    case 'radio':
      return answer == this.answer;
    case 'choice':
      return answer == this.answer;
    case 'images':
      return answer == this.answer;
    case 'text':
      return answer.toLowerCase() == this.answer.toLowerCase();
    default:
  }
}


QA.prototype.render = function () {
  $("#question").html(this.qas.current_index + 1 + ". " + this.question + "  (" + this.type_in_chinese + ")");
  var answer = [];

  switch (this.type) {
    case 'radio':
      for (var i = 0, l = this.options.length; i < l; i ++) {
      cchar = String.fromCharCode(65 + i);
      answer.push("<div class='item'> <input type='radio' name='result[]' class='result' value='" + cchar +"'></input>" + cchar +". " +this.options[i] + "</div>");
    }
    break;
    case 'choice':
      for (var i = 0, l = this.options.length; i < l; i ++) {
      cchar = String.fromCharCode(65 + i);
      answer.push("<div class='item'> <input type='checkbox' name='result[]' class='result' value='" + cchar + "'></input> " + cchar + ". " + this.options[i] + "</div>");
    }
    break;

    case 'images':
      for (var i = 0, l = this.options.length; i < l; i ++) {
      cchar = String.fromCharCode(65 + i);
      answer.push(" <input type='radio' name='result[]' class='result' value='" +
                  cchar + "'/> " + "<img src=' " + this.options[i] + " ' /> " +  "</div>");
    }
    break;

    case 'text':
      answer.push("<div class='item'> <input type='textarea' name='result[]' class='input_text result'></input></item>");
    default:
  }
    $("#answer").html(answer.join(""));
}



