  <div id="question_box">
    <h2 classxz,="warning">恭喜你闯关成功！</h2>
    <br />
  我们将从所有成功者中抽出周周奖、一等奖、二等奖、三等奖获得丰厚的礼品<br />
  （具体奖品内容请关注
  <a href="http://weibo.com/housefoods"><span class='weibo'>@好侍食品housefoods</span></a>
  微博内容）。
    <br />
    把您收到的闯关成功上传微博并@好友，除了截图，您也可以把您最想对TA说的话告诉我们，好侍帮您一道套牢TA！
    奖品连接：
    <ul id="rounds">
    <li><a href="http://www.housefoods.com.cn/products/tomatoSeasoning/tomato01.html" target="_blank">好侍番茄红烩调料</a></li>
    <li><a href="http://ruosi.tmall.com" target="_blank">好侍若丝胶原蛋白饮料</a></li>
    <li><a href="http://www.lecreuset.com.cn" target="_blank">酷彩咖啡杯套装及酷彩锅铲座</a></li>
    </ul>
  </div>


  告诉我们您的微博吧
  <div style="height: 10px;"> </div>

  <%= form_tag leave_weibo_account_path do %>
    <%= text_field_tag "weibo", "", :class => "result input_text" %>
    <%= submit_tag "就是它了", :class => "submit", :style => "margin-top: 0px" %>
<% end %>
